<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact
                        <strong>Ardent Sports and Events</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p>Phone:
                        <strong>94545631256</strong>
                    </p>
                    <p>Email:
                        <strong><a href="mailto:name@example.com">name@example.com</a></strong>
                    </p>
                    <p>Address:
                        <strong>3481 Melrose Place
                            <br>Beverly Hills, CA 90210</strong>
                    </p>
                </div>
                <div class="col-md-4"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /.container -->