  <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Ardent Sports and Events</strong>
                    </h2>
                    <hr>
                </div>
                <!--<div class="col-md-6">-->
                    <!--<img class="img-responsive img-border-left" src="images/slide-2.jpg" alt="">-->
                <!--</div>-->
                <div class="col-md-12">
                    <p>"It is one of man's curious idiosyncrasies to create difficulties for the pleasure of resolving them" -Joseph de Maistre
                    </p>
                    <p>We at Ardent Sports and Events (ArdentSnE) are committed to creating excellent competitive environment for all the people who like to enhance/intensify their competitive Spirit through astonishing events. Our events are aimed at creating unique experience. We are dedicated to organizing different events aimed at providing equal opportunities to all.
                        We welcome you to our events where you embrace the passionate person in you .We think, plan and organize to provide best facilities and events that not only will make you break your own limits as a performer but also will provide satisfaction of doing something great.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

          <div class="row">
              <div class="box">
                  <div class="col-lg-12">
                      <hr>
                      <h2 class="intro-text text-center">Our
                          <strong>Vision</strong>
                      </h2>
                      <hr>
                  </div>
                  <!--<div class="col-md-6">-->
                  <!--<img class="img-responsive img-border-left" src="images/slide-2.jpg" alt="">-->
                  <!--</div>-->
                  <div class="col-md-12">
                      <p>Our vision is to create an environment of competitiveness by conducting events in a unique and fun-filled way so as to provide a platform for everyone to showcase their distinctive talent.
                      </p>
                      <p>Ardent Sports and Events (ArdentSnE) is focused on executing events to promote passion, spirit and attitude by conducting entertaining events. We make it our duty to do our best to instill as many of life lessons as possible by creating a perfect platform for everyone.
                      </p>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Shadab
                        <small>Founder</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Sudeep
                        <small>Founder</small>
                    </h3>
                </div>
                <!--<div class="col-sm-4 text-center">-->
                    <!--<img class="img-responsive" src="http://placehold.it/750x450" alt="">-->
                    <!--<h3>John Smith-->
                        <!--<small>Job Title</small>-->
                    <!--</h3>-->
                <!--</div>-->
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->
