<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center social-site">
                    <!-- Your like button code -->
                    <h4>Social</h4>
                    <div class="fb-like space-add" data-href="http://35.154.118.26/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                    <!--<div class="space-add">-->
                        <!--<a href="https://twitter.com/TwitterDev" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @TwitterDev</a><script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                    <!--</div>-->
                    <!--<div class="space-add">-->
                           <!--<a href="https://twitter.com/intent/tweet?screen_name=TwitterDev" class="twitter-mention-button" data-show-count="false" data-size="large">Tweet to @TwitterDev</a><script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
</footer>