<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center social-site">
                    <!-- Your like button code -->
                    <h4>Social</h4>
                    <div class="fb-like space-add" data-href="https://www.facebook.com/ArdentSnE" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true"></div>
                    <a href="" ng-click="OnCLick()" class="fb-share-image"><img class="social-share" src="images/facebook_button_share.jpg"/></a>
                    <a href="https://www.facebook.com/ArdentSnE/" target="_blank"class="fb-share-image"><img class="social-page"src="images/fb-share.jpg"/></a>
                    <!--<a ng-click="OnCLick()">Share</a>-->
                    <!--<div class="space-add">-->
                        <!--<a href="https://twitter.com/TwitterDev" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @TwitterDev</a><script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                    <!--</div>-->
                    <!--<div class="space-add">-->
                           <!--<a href="https://twitter.com/intent/tweet?screen_name=TwitterDev" class="twitter-mention-button" data-show-count="false" data-size="large">Tweet to @TwitterDev</a><script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
</footer>
