<div class="container">
    <div class="row">
        <div class="box">
            <hr>
            <h2 class="intro-text text-center">Registration
                <strong>Process</strong>
            </h2>
            <hr>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <ul>
                    <li><p>Send an email to <a href="mailto:contact@ardentsne.com">contact@ardentsne.com</a></p></li>
                    <li><p>We will provide you the entry form and bank account details.</p></li>
                    <li><p>Entry form has to be filled and send before the last date of registration.</p></li>
                    <li><p>Payment that is applicable for a particular event has to be made before the last date of
                        registration.</p>
                    </li>
                    <li><p>Confirmation of the participation will be sent after the entry form and payment is received.</p></li>
                    <li><p>If you have any confusion then please contact us</p>
                        <ul><li>+91-9404677509</li></ul>
                        <ul><li>+91-9404677517</li></ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-2"></div>

        </div>
    </div>
</div>
